<div class="body">
  <div class="boxModel">
    <div class="boxModelTitle">
      <h3>Sign up</h3>
    </div>
    <form class="input-body" id="signupForm">
      <div>
        <label>Username</label>
        <input type="text" id="username">
      </div>
      <div>
        <label>Password</label>
        <input type="password" id="password">
      </div>
      <div>
        <input class="submit" id="submit" value="Sign up!" type="submit">
      </div>
      <div>
        <a href="/login">Login instead</a>
      </div>
    </form>
  </div>
</div>
<script src="/js/signup.js"></script>